{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "operator-linebreak": "off",
    "space-before-function-paren": "off"
  }
}
